:host {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-family: "Poppins";
}

img {
  width: auto;
  height: auto;
  max-height: 50px;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}
